html {

text-align: center;
font-family: Arial, Helvetica, sans-serif;
margin: 10px 10px;

}

p {

  display: inline-block;
}

header{

background-color: #333333;
height: 100px;
color: white;
display: inline-block;
Width: 100%;
}


main{
    
    background-color: white;
    height: 1700px;

}

footer{
    color: white;
    background-color: #333333;
    height:100px;
    width: auto;


}

form {

  display: inline-block;
}

.news {

  overflow: auto;
  height: 180px;
  border-style: solid;

}


@media only screen and (max-width: 600px) {
    body {
      background-color:white;
    }
  }

